.contact {
    padding-top:80px
}

.contactos {
    background-color: $bgColor;
}

.grid-contacto {
    @include grid (1fr 1fr, 1fr,none);
    gap: 1rem;
    margin:50px;
    padding: 20px;
    .imgframe {
        max-width: 100%;
        object-fit: contain;
    }
}