.background-imagen {
    height: 80vh;
    background: url(../imagenes/segmentos/42474.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}